* {
  margin: 0;
 
  box-sizing: border-box;
}
/* shared styles */
.primary-color1{
    color: rgba(137, 135, 161, 1);
}
.primary-color2{
    color: rgba(37, 36, 50, 1);
}
.display-flex{
 display: flex;
}
.color1{
    color: rgba(233, 90, 8, 1);
}
.color2{
    color: rgba(0, 0, 0, 0.5);
}
.btn-color{
  background-color: rgba(233, 90, 8, 1);
  color: white;
  border: none;
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    padding-left: 150PX ;
    padding-right: 150PX;
    margin-top: 30px;
    align-items: center ;
    
}
.nav-links{
    display: flex;
    gap: 48px;
    list-style: none;
}
.nav-links ul>li{
list-style: none;

}
ul li>a{
    text-decoration: none;
    font-size: 1 rem;
}
.nav-btn{
    font-size: 1rem;
    font-weight: 700;
}
.cart-btn{
    font-size: 1rem;
    color: black;
}
/* hero banner  */
.banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text image";
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

.text {
  grid-area: text;
  padding: 10px;
}

.image {
  grid-area: image;
  text-align: right;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

h1 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
  color: #000;
}

.orange {
  color: #ff6600;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}
/* card section */
.card-section{
 text-align: center;
 
}
.card-div{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 49px;
}
.card{
  width: 270px;
  height: 480px;
}
 
.card-hedding{
  font-size: 1.37rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-price{
  font-size: 1.37rem;
  font-weight: 700;
}
.card-btn{
  width: 260px;
  height: 40px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* media quary */
@media screen and (max-width: 576px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 460px;
    }
    .nav-btn{
        display: none;
    }
  .shop{
    display: none;
  }
  .about{
    display: none;
  }
 .banner-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text";
    text-align: center;
    padding-left: 200px;
  }
   h1 {
    font-size: 32px;
  }
  p {
    font-size: 15px;
  }
  .image {
    width: 400px;
    height: 300px;
    text-align: center;
  }
  .card-div{
    grid-template-columns: repeat(2, 1fr);width: 100%;
    margin: 0 auto;
  }
}

  